body {
  background-color: #8e9297;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: #7f878f;
  height: 100vh;
  width: 100vw;
}

#loader {
  position: relative;
  display: block;
  margin: 30vh auto;
  width: 220px;
  height: 300px;
}

#loadImage {
  position: absolute;
  top: 0px;
  left: 10px;
}

#spinner {
  position: absolute;
  left: 87px;
  top: 58px;
  height: 40px;
  width: 40px;
}

.full-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fill-height {
  flex-grow: 1;
  width: 100%;
}

.controlsdiv {
  display: table;
  width: 100%;
}

#logo {
  min-height: 80px;
  height: 10vh;
  margin-right: 10px;
}

#search {
  background-color: #7f878f;
  padding-bottom: 10px;
  border-bottom: 1px solid #6c757d;
}

#countrySearch {
  font-family: 'Montserrat', sans-serif;
  min-width: 270px;
  width: 50vw;
  height: 45px;
  border-radius: 15px;
  display: block;
  margin: 0px auto;
  outline: none;
}

.ui-autocomplete {
  z-index: 9999 !important;
  color: #f8f9fa;
  border: 1px solid #6c757d;
  background-color: #7f878f;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.ui-menu-item {
  border: 1px solid #6c757d;
}

#details {
  margin: 1em;
}

.info {
  margin-right: 1.2em;
}

#flag {
  height: 1.6em;
}

::placeholder {
  color: #6c757d;
}

#map {
  height: 100%;
  min-width: 100vw;
}

footer {
  margin-top: 28px;
}

#options {
  height: 28px;
}

#modalInfo,
#modalBody {
  font-size: 0.7em;
}

.list-group-item {
  background-color: #6c757d;
}

#weatherModalList,
.forecastList {
  text-transform: capitalize;
}

.forecastList {
  background-color: #6c757d;
  color: #f8f9fa;
  font-size: 0.5em;
  display: inline-grid;
  list-style-type: square;
}

.forecastList li:first-child {
  list-style: none;
  font-size: 1.3em;
  color: #fd7e14;
  font-weight: bold;
}

.forecastImg {
  float: left;
  height: 80px;
}

.airport-marker-cluster {
  background-color: rgba(153, 200, 146, 0.8);
}

.airport-marker-cluster div {
  background-color: rgba(175, 213, 170, 0.6);
}
.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px 'Montserrat', Arial, Helvetica, sans-serif;
  color: #f8f9fa;
}

.marker-cluster span {
  line-height: 30px;
}

@media (min-width: 1200px) {
  #countrySearch {
    width: 30vw;
  }
}

@media (min-width: 900px) {
  .btn-secondary {
    font-size: 20px;
  }
}
